.navbar_dashboard{
    margin:0;
    height: 100%;
}

.container_card{
    height:750px;
    overflow-y: scroll;
}
.card{
    
    width : 90%;
    height : 75px;
    margin : auto;
    margin-bottom : 25px;
}

.card:first-child{
    margin-top : 25px;
}