
.btnIsConnect{
    margin-left: 800px;
}

.btnIsNotConnect{
    margin-left: 800px;
}


#iconNavBar{
    height: 30px;
}

#iconNavBar{
    height: 30px;
}

#btnInscription{
     margin-left: 10px;
 }

/*#btnDeconnexion{*/
    /*margin-left: 10px;*/
/*}*/

.btn{
    padding: 0 !important;
}
