#photo-profil{
    margin-left: 400px;
}

#edit-profil{
    margin-left: 1000px;
    /*margin-top: 50px;*/
}

#nomprenom{
    margin-left: 10px;
    padding-top: 70px;
}

li{
    list-style-type:none !important;
    padding-right: 10px;
}


.skill {
    border-radius: 1em;
    padding: .2em 1.05em!important;
    border: 1px solid #b6b6b6;
    color: #3a3a3a;
    margin-right: .4em;
    margin-bottom: .4em;
    font-family: Lato,helvetica neue,Helvetica,Arial,sans-serif;
    text-shadow: none;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

#card-offre {
    margin-top: 8px;
    margin-right: 0px;
    margin-left: 0px;
}

#events{
    margin-right: 20px;

}

#container-profil{
    padding-top: 10px;
    padding-left: 20px;
}

#titre-card-profil{
    text-align: center;
    margin-top: 5px;
}

#container-offre{
    padding-top: 10px;
    background-color: #f2f6ff;

}

#img-card-profil{
padding-top: 10px;
padding-bottom: 10px;
}

#card-profil{
    padding-right: 0px;

}

#coeurOffre{
    margin-left: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#clock{
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#sendMail{
    margin-left: 320px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#nomEntreprise{
    margin-left: 15px;
}

#nomOffre{
    margin-left: 15px;
}

#btnVoirPlus {
    margin-top: 5px;
    margin-left: 77px;
    padding-right: 80px;
    padding-left: 80px;
}

.btn{
    padding: 0 !important;
}

#itemBarNav{
    margin-left: 720px;
}

#iconNavBar{
    height: 30px;
}

