body{
    background-color: #EDEDED !important;
}

#jumbo{

    background-color: #f2f6ff;
}

.jumbotron{
    margin-bottom: 0 !important;
    background: url('https://statics.b-reputation.com/blog/images/defi-recrutement-digital.png') center;
    background-color: #3a3a3a;
    background-size: 100%;
    height: 400px; /* On met ici la même hauteur que le jumbotron */
    margin-top: 70px !important;
}

.container-home{
    padding-top: 20px;
}


#card{
    margin-top: 220px;
}

/*#nomPrenomHome{*/
    /*text-align: left;*/
    /*padding-top: 20px;*/
/*}*/

.nomprenom{
    font-size: 60px !important;
}

#titre-card-profil {
    text-align: center;
    margin-top: 5px;

}

#titreSite{
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Lato,sans-serif;
    font-size: 50px;
    /*font-weight: bold;*/
    color: black;
}

#cardCarroussel{
    width: 100px;
    height: 70px;
}

#card-offre{
    margin-top: 20px;
}

#btnVoirPlus {
    margin-top: 5px;
    height: 30px;
    margin-left: 60px !important;
    padding-right: 80px !important;
    padding-left: 80px !important;
    margin-bottom: 5px;

}

#card-offre-home{
    /*padding-right: 0 !important;*/
    margin-bottom: 20px;

}

#img-card-profil{
    height: 100px;
    background-color: #24D1FD;
}

#photo-user{
    height: 30px !important;
    width: 30px !important;
    margin-left: 100px;
    /*margin-bottom: 50px;*/
}

#test{
    margin-left: 10px;
    margin-top: 10px;
}

#data-event{
    margin-left: 15px;
}

.card--big{
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.it-works{
    margin: 30px 30px;
    text-align: center;
}

.icon-pub{
    margin-bottom: 20px;
    color: #00d0ff !important;
}

.titre-pub{
    margin-top: 20px;
}

.div-pub{
    margin-top: -40px;
}