body{
    background-color: #EDEDED !important;
}
#jumbo{
    background-color: #f2f6ff;
    margin-top: -1px !important;
}
.jumbotron{
    margin-bottom: 0 !important;
    background: url('https://www.chilternrecruitment.co.uk/sites/all/themes/chiltern_recruitment/img/testimonials.jpg') center;
    background-color: #3a3a3a;
    background-size: 100%;
    height: 400px; /* On met ici la même hauteur que le jumbotron */
    margin-top: 57px !important;
    border-radius: 0px !important;
}
.container-home{
    padding-top: 19px;
}
#card{
    margin-top: 220px;
}
/*#nomPrenomHome{*/
    /*text-align: left;*/
    /*padding-top: 20px;*/
/*}*/
#nomUser{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.nomprenom{
    font-size: 60px !important;
}
#titre-card-profil {
    text-align: center;
    margin-top: 5px;
}
#titreSite{
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Lato,sans-serif;
    font-size: 50px;
    /*font-weight: bold;*/
    color: white;
}
#cardCarroussel{
    width: 100px;
    height: 70px;
}
#card-offre{
    margin-top: 20px;
    display: flex;
    opacity: 0.8;
    filter: alpha(opacity=50);
}
.offre{
    text-align: center;
    display: flow-root !important;
    color: black;
    text-decoration:none !important;
}
/*.hvr-grow{*/
    /*display: flow-root !important;*/
/*}*/
#card-offre:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
#btnVoirPlus {
    margin-top: -17px;
    height: 40px;
    margin-left: 10px ;
    margin-right: 10px ;
    margin-bottom: 5px;
}
#card-offre-home{
    /*padding-right: 0 !important;*/
    margin-bottom: 20px;
}
#img-card-profil{
    height: 45px;
    background-color: #24D1FD;
}
#photo-user{
    height: 30px !important;
    width: 30px !important;
    margin-left: 10px;

}
#test{
    margin-left: 10px;
    margin-top: 10px;
}
.titre-event{
    text-align: center;
    color: black;
    text-decoration:none !important;
}
.date-event{
    color: black;
    text-decoration:none !important;
}
.style-card-home{
    /*text-align: center;*/
    /*display: block;*/
    /*margin: auto;*/
    margin-left: 15px;
}
.card--big{
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.it-works{
    margin: 30px 30px;
    text-align: center;
}
.icon-pub{
    margin-bottom: 20px;
    color: #00d0ff !important;
}
.titre-pub{
    margin-top: 20px;
}
.div-pub{
    margin-top: -40px;
    padding-top: 60px;
    padding-bottom: 70px;
    border: 0px !important;
    border-radius: 0px !important;
}