
.img-responsive {
    display:block;
    max-width:100%;
    width:100%;
    height:auto
}

.thumbnail-xl {
    width:140px;
    height:140px
}

.thumbnail--light {
    border:0
}

.thumbnail {
    padding:4px;
    border-radius:4px;
    overflow:hidden;
    background-color:#fff;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    border:1px solid #d0d0d0;
    font-size:40px;
    line-height:40px
}

li{
    list-style-type:none !important;
    /*padding-right: 10px;*/
}


.skill {
    border-radius: 1em;
    padding: .2em 1.05em!important;
    border: 1px solid #b6b6b6;
    color: #3a3a3a;
    margin-right: .4em;
    margin-bottom: .4em;
    font-family: Lato,helvetica neue,Helvetica,Arial,sans-serif;
    text-shadow: none;
}


.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.card-offre{
    padding: 10px;
}

.search-container{
    margin-left: 200px !important;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 35px;
}

.search-offres{
    width: 400px !important;
}

.search-villes{
    width: 400px !important;
}

.color-badge-skill{
    text-decoration : none;
    color: white;
}

.color-badge-offre{
    text-decoration : none;
    color: white;
}

.color-href-offre{
    color: black;
}

.container-offres{
    padding-top: 20px ;
    padding-left: 20px;
    padding-right: 20px !important;
    background: linear-gradient(to bottom, #ffffff -5%, #000000 100%);
}

.profile{
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 20px;
}

.container-offres{
    background-color: lightgrey;
    margin-top: 30px;
    margin-left: 30px;
}

.offer__title{
    margin-left: 20px;
    padding-top: 12px;
}

.offer__at{
    margin-left: 20px;
}

.card-offre{
    /*border-radius: 5px;*/
}

.top{
    padding-top: 12px;
    margin-left: 20px;
}

